$primary-font-family: 'Product Sans';
$primary-font-color: #15151e;
$primary-button-font-color: #ffffff;
$primary-button-background-color: #bfbfbf;

$secondary-font-family: 'Product Sans';
$secondary-font-color: #c4c4c4;
$secondary-button-font-color: #8e8e8e;
$secondary-button-background-color: #f2f5f5;
